div(class="main_content main_content_narrow")
	div(class="inner_container about_us_section")
		.section_text
			.main_text
				span.underlined_text About Us
			br
			br
			strong.secondary_text
				span#one_liner
					| Verbatm empowers millennials to transform first person perspectives into beautiful, multimedia content which is then shared with a wide audience on mobile.
				br
				span#read_more(class="reading") Read More &#8675;
				br
				#about_us_container
					span#about_us
						| At Verbatm, we empower millennials to capture and share their perspectives on important issues through a creative, artistic mobile platform. We provide a space where content creators and content consumers can collaborate and sharing their first-person stances in an impeccably designed, mobile environment. 
						br
						br
						| When it comes to fixing a force as vast and entrenched as media, change usually comes from without. Our team sits at an ideal position: raised on a media system starved for iteration, fluent in the society-shaking movements already underway, creative enough to dream up new changes, and dedicated to make it all happen.
					br
					span#more_medium
						| Read more on Medium 
						a#medium_link(href="https://medium.com/matter-driven-narrative/verbatm-word-for-word-f7b477c3c942", target="_blank") here
					br
				span#read_less(class="reading") Read Less &#8673;
