div(class="main_content main_content_narrow")
	.inner_container
		strong(class="secondary_text section_text")
			span
				| Thank you so much for your interest in Verbatm! <br> Please enter your email and we'll be in touch about the beta test.
		<br><br><br>
		form(class="input_request_beta section_text")
			input#input_email(type="email", name="input_email", placeholder="example@blank.com")
			.submit_button_container
				input#submit_beta_email_request(type="button", class="submit_button", value="Go")