.main_content
	.inner_container
		strong(class="secondary_text section_text")
			#email_link_container
				span
					| Email us at 
					<br>
					<br>
					a.email_link(href="mailto:founders@myverbatm.com" target="_blank") Founders@MyVerbatm.com
