extends layouts/layout

append head
	script(src="/javascripts/utilities/jade.js")
	script(src="/javascripts/utilities/jq.js")
	script(src="/model/page.js")
	script(src="/model/image.js")
	script(src="/model/video.js")
	script(src="/javascripts/povLoader.js")
	script.
		window.povID="#{povID}";
prepend content
	x-jade#client_side_jade.
		script.
			console.log('Header' + header);
		if header
			h2(style={'color': 'white'})=header
	script(src="https://apis.google.com/js/client.js?onload=init")
	script.
		jq.reapply("client_side_jade", {header: 'Verbatm is cool!'});