<!DOCTYPE HTML>

<html>
<head>
	{{> head}}
	<title>{{povID}}</title>
	<script>
		window.povID = '{{povId}}'
	</script>
	<script src="/javascripts/base.js"></script>
</head>
<body>

<script src="https://apis.google.com/js/client.js?onload=init"></script>
</body>
</html>