@import url(https://fonts.googleapis.com/css?family=Raleway);

/*general
______________________________________________________________________________
*/

html {
    height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: black;
	height: 100%;
}

a:-webkit-any-link {
	text-decoration:none !important;
}

::-webkit-scrollbar { 
    display: none; 
}

textarea:focus, input:focus {
    outline: 0;
}

input {
	-webkit-appearance: none; 
	box-shadow: none !important;  
}

textarea {
	resize: none;
}

:-webkit-autofill { color: #fff !important; }

ul {
	list-style-type: none;
}

/*menu/header
______________________________________________________________________________
*/

@base: #f938ab;

#menu_container {
	position: fixed;
	display: block;
	width: 100%;
	height: 40px !important;
	/*background-color: rgba(255, 255, 255, 0.8);*/
	left: 0;
	color: white;
	z-index: 200;
	background-color: rgba(0,0,0,0.7);
	/*-webkit-filter: blur(6px);*/
}

#main_menu {
	position: relative;
	display: table;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	color: white;
}

.menu_text {
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	color: rgb(150,150,150);
}

.active_item {
	color: inherit;
}

/*desktop*/
.header_desktop {
	transition: bottom 0.4s ease-in-out;
}

.menu_not_scrolling_desktop {
	top: auto;
	bottom: 0px;
}

.menu_scrolling_desktop {
	top: auto;
	bottom: -40px;
}

/*mobile*/
.header_mobile {
	/*transition: top 0.4s ease-in-out;*/
	transition: 0.3s ease-in-out;
	top: 0px;
}

.menu_not_scrolling_mobile {
	/*top: 0px;*/
	bottom: auto;
}

.menu_scrolling_mobile {
	/*top: -40px;*/
	transform: translate3d(0,-40px,0);
	-webkit-transform: translate3d(0,-40px,0);
	bottom: auto;
}

#main_menu ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1;
	zoom: 1;
}

#main_menu.align-center ul {
	text-align: center;
}

#main_menu ul li {
	display: inline-block;
	margin: 0;
	padding: 0px 0px;
	float: left;
}

.menu_item {
	padding: 0px 8px;
	height: 100%;
	line-height: 40px;
	position: relative;
	display: block;
  	bottom: 0px;
  	transition: bottom 0.2s ease-in-out;
}

#facebook_button {
	padding: 0px 5px;
	float: left;
}

#twitter_button {
	padding: 0px 5px;
	float: left;
}

.menu_item:hover {
	bottom: 10px;
}

/* background media
______________________________________________________________________________
*/

#background_banner {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0;
	top: 0;
	z-index: -100;
}

#video_player {
	top: 0;
	position: absolute;
	/*-webkit-filter: opacity(0.6);*/
	/*-webkit-filter: saturate(1);*/
}

.banner_media {
	width: 100%;
	/*opacity: 0.6;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul#banner_images {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0;
}

ul#banner_images li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    -webkit-animation: imageAnimation 36s linear infinite 0s; 
}

@-webkit-keyFrames imageAnimation {
	0% { opacity: 0; -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1; -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

#black_filter {
	display: block;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-color: black;
	opacity: 0.5;
	position: absolute;
}

/*general content of each section
______________________________________________________________________________
*/

.main_content {
	position: relative;
	height: 100%;
	display: table;
	margin: auto auto;
}

.main_content_narrow {
	width: 80%;
}

.main_content_wide {
	width: 90%;
}

.inner_container {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.section_text {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;
}

.section_text span {
	color: white;
}

.main_text span {
	text-transform: lowercase;
  	font-weight: 400;
  	font-size: 40px;
}

.underlined_text {
	border-bottom: 3px solid white;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}

.secondary_text {
	font-weight: 300;
  	font-size: 20px;
}

#title_text span {
	text-transform: uppercase;
	font-size: 40px;
}

/*beta test button
______________________________________________________________________________
*/

#beta_test_container {
	position: fixed;
	width: 60px;
	height: 25px;
	line-height: 25px;
	z-index: 200;
	right: 10px;
	vertical-align: middle;
	text-align: center;
	transition: top 0.4s ease-in-out;
	color: white;
}

.beta_not_scrolling {
	top: 50px;
	/*top: 6vw;*/
}

.beta_scrolling {
	top: -90px;
	/*top: -8vw;*/
}

#beta_nav {
	border-radius: 20px;
	font-size: 14px;
	/*font-size: 3vw;*/
	font-weight: 600;
	border: 2px solid white;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

#beta_nav:hover {
	font-size: 16px;
	font-weight: 800;
	box-shadow: 0 0 20px white;
	border-width: 3px;
}

/* About Us section
______________________________________________________________________________
*/

.about_section {
	vertical-align: top;
}

#one_liner {
	font-size: 18px;
}

#about_us_container {
	border: 2px solid white;
}

#about_us {
	font-size: 16px;
}

#more_medium {
	font-size: 13px;
}

#medium_link {
	font-style: italic;
	color: inherit;
}

.reading {
	font-size: 16px;
	cursor: pointer;
	text-transform: lowercase;
}

.reading:hover {
	font-size: 16px;
}

/* Team section
______________________________________________________________________________
*/

#team_section {
	height: 1000px;
}

.team_section {
	vertical-align: top;
}

ul#team_list {
	margin: auto auto;
	padding: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#team_list li {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 20px;
	width: 90%;
}

#team_list li div {
	display: block;
	margin: auto auto;
}

.team_member_name {
	font-size: 20px;
}

.team_member_title {
	font-size: 18px;
}

.team_member_description {
	font-size: 16px;
	line-height: 20px;
	padding-top: 8px;
}

.team_member_picture {
	border-radius: 50%;
	border: 2px solid white;
	background-color: white;
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.team_member_picture:hover {
	box-shadow: 0 0 20px white;
	border-width: 3px;
}

/*Contact us page
______________________________________________________________________________
*/

.email_link {
	color: rgb(67,135,255);
	/*border-bottom: 2px dashed white;*/
	border-radius: 20px;
	/*border: 2px solid white;*/
}

.email_link:hover {
	/*box-shadow: 0 5px 10px white;*/
	/*border-bottom: 2px solid white;*/

	color: rgb(17,85,204);
	font-weight: 1000;
	box-shadow: 0 0 20px white;
	background-color: rgba(255, 255, 255, 0.5);
}

.email_link:visited {
	color: rgb(150,150,150);
}

.email_link:hover:visited {
	color: rgb(17,85,204);
}

.main_section {
	width: 100%;
	height: 100%;
	display:block;
	overflow:auto;
	padding-bottom: 100px;
	z-index: 100;
}


/* Request Beta test section
______________________________________________________________________________
*/

.submit_button_container {
	display: inline-block;
	border: 2px solid white;
	border-radius: 7px;
	width: 30px;
	height: 25px;
	margin: 0 0px;
	vertical-align: middle;
}

.submit_button {
	-webkit-appearance: none;
	background-color: rgba(0,0,0,0);
	color: white;
	border: none;
	font-size: 16px;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	line-height: 25px;
}

.submit_button_container:hover {
	box-shadow: 0 0 30px white;
	/*background-color: rgba(0,0,0,1.0);*/
	border-width: 3px;
}

#input_email {
	border-radius: 7px;
	background-color: rgba(0,0,0,0);
	border: 2px solid white;
	display: inline-block;
	color: white !important;
	margin: 5px 0px;
	height: 25px;	
	width: 180px;
	vertical-align: middle;
	font-size: 16px;
	padding: 0px 0px;
}

