<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.myverbatm.verbatm.backend.RegistrationEndpoint,
                com.myverbatm.verbatm.backend.MessagingEndpoint,
                com.myverbatm.verbatm.backend.apis.ChannelEndpoint,
                com.myverbatm.verbatm.backend.apis.PostEndpoint,
                com.myverbatm.verbatm.backend.apis.VerbatmUserEndpoint,
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>com.myverbatm.verbatm.backend.handlers.UploadImage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UploadVideo</servlet-name>
        <servlet-class>com.myverbatm.verbatm.backend.handlers.UploadVideo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServeVideo</servlet-name>
        <servlet-class>com.myverbatm.verbatm.backend.handlers.ServeVideo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/uploadImage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadVideo</servlet-name>
        <url-pattern>/uploadVideo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServeVideo</servlet-name>
        <url-pattern>/serveVideo</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>