
block head
	head
		title!=title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(href="/stylesheets/style.css", rel="stylesheet")
		link(href="/stylesheets/style_desktop.css", rel="stylesheet")
		script(src="/javascripts/jquery-1.11.3.min.js")
		script(src="/javascripts/animatescroll.js")
		script(src="/javascripts/detectmobilebrowser.js")
